@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.w-1440{
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    background-color: #EFF0F3;

}
/*-----------header-------------------*/
header {
    height: 86px;
    box-shadow: 4px 6px 13px 0 rgba(182, 28, 28, 0.25);
    display: flex;
    align-items: center;
}


.logo {
    margin-left: 95px;
}

a{
    color: inherit;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 300px;
    margin-right: 50px;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.logo-main{
    color: #001858;
    font-family: "Plus Jakarta Sans", serif;
    font-size: 36px;
}

.logo-blog{
    width: 48px;
    height: 27px;
    color: #6246EA;
    font-family: "Plus Jakarta Sans", serif;
    font-size: 18px;
}

.search{
    gap: 10px;
}

.cup{
    margin-right: 112px;
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
    border: none;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", serif;
    font-size: 18px;
    text-transform: capitalize;
}





